.Weather{
  border: 0px solid #564B8B;
  border-radius: 4px;
  background: linear-gradient(0deg, rgba(164,166,200,1) 0%, rgba(100,95,151,1) 100%);
  padding: 24px;
  color: white;
  font-weight: 200;
}

.Weather .form-control {
  border: 1px solid #ffffff;
  transition: none;
  width: 50%;
  margin: 0px -10px 0px 0px;
}

.Weather .form-control:focus {
  box-shadow: none;
  border-color: #ffe168;
}

.Weather .btn-primary {
  background-color: #9C9DC2;
  border-color: #9C9DC2;
  margin: 10px 10px;
}

.Weather .btn-primary:hover {
  background-color: white;
  border-color: white;
  color: #9C9DC2;
}

.Weather h1{
  padding: 10px 0px 0px 0px;
  font-size: 32px;
  font-weight: 200;
}

.Weather h2{
  font-size: 120px;
  font-weight: 100;
  display: inline;
}

.Weather h3{
  font-size: 18px;
  font-weight: 200;
}

.Weather ul {
  font-size: 18px;
  list-style-type: none;
  padding: 0px 0px 0px 10px;
}

.Weather .temp-unit {
  font-size: 40px;
  position: relative;
  line-height: 1;
  top: -60px;
}
